{% extends 'base_child_page.html' %}

{% block title %}{{ _('Settings') }}{% endblock %}

{% block header_title %}{{ _('Settings') }}{% endblock %}

{% block page_content %}
<p>
    <select
        name="infinite_scroll"
        hx-trigger="change"
        hx-post="/actions/set_infinite_scroll"
        hx-swap="none"
    >
        <option value="1" {{ 'selected=selected' if infinite_scroll else '' }}>{{ _('Automaitcally load more') }}</option>
        <option value="0" {{ 'selected=selected' if not infinite_scroll else '' }}>{{ _('Manually load more') }}</option>
    </select>
</p>
<p>
    <select
        name="scroll_as_read"
        hx-trigger="change"
        hx-post="/actions/set_scroll_as_read"
        hx-swap="none"
    >
        <option value="0" {{ 'selected=selected' if not scroll_as_read else '' }}>{{ _('Manually mark items as read') }}</option>
        <option value="1" {{ 'selected=selected' if scroll_as_read else '' }}>{{ _('Automatically mark items as read') }}</option>
    </select>
</p>
<hr>
<p>{{ _('Display media count')}}</p>
<select
    name="max_rendered_items"
    hx-trigger="change"
    hx-post="/actions/set_max_rendered_items"
    hx-swap="none"
>
    <option value="1" {{ 'selected=selected' if max_rendered_items == 1 else '' }}>1</option>
    <option value="2" {{ 'selected=selected' if max_rendered_items == 2 else '' }}>2</option>
    <option value="3" {{ 'selected=selected' if max_rendered_items == 3 else '' }}>3</option>
    <option value="4" {{ 'selected=selected' if max_rendered_items == 4 else '' }}>4</option>
</select>
<p>{{ _('Page size')}}</p>
<select
    name="max_items"
    hx-trigger="change"
    hx-post="/actions/set_max_items"
    hx-swap="none"
>
    <option value="5" {{ 'selected=selected' if max_items == 5 else '' }}>5</option>
    <option value="10" {{ 'selected=selected' if max_items == 10 else '' }}>10</option>
    <option value="15" {{ 'selected=selected' if max_items == 15 else '' }}>15</option>
    <option value="20" {{ 'selected=selected' if max_items == 20 else '' }}>20</option>
    <option value="50" {{ 'selected=selected' if max_items == 50 else '' }}>50</option>
    <option value="100" {{ 'selected=selected' if max_items == 100 else '' }}>100</option>
</select>
<br>
<br>
<hr>
{% if connection_info.managed_or_self_hosted %}
<p>{{ _('Logged in as: ') }} {{ username }}</p>
<a href="/sessions">
    <button class="button" style="font-size: 1em">{{ _('Session management')}}</button>
</a>
<br>
<br>
<button
    class="button"
    hx-post="/actions/logout"
    hx-swap="none"
>{{ _('Log out')}}</button>
{% else %}
<p>{{ _('Connected to')}} {{ connection_info.host }}</p>
{% endif %}
{% endblock %}
