{% extends 'base_child_page.html' %}

{% block title %}{{ _('Settings') }}{% endblock %}

{% block header_title %}{{ _('Settings') }}{% endblock %}

{% block page_content %}
<p>{{ _('Feed management') }}</p>
<a href="/manage_feeds">
    <button class="button" style="font-size: 1em">{{ _('Manage feeds')}}</button>
</a>
<br>
<br>
<a href="/manage_groups">
    <button class="button" style="font-size: 1em">{{ _('Manage groups')}}</button>
</a>
<br>
<br>
<a href="/feed_maintenance">
    <button class="button" style="font-size: 1em">{{ _('Feed maintenance')}}</button>
</a>
<br>
<br>
<hr>
<p>{{ _('Infinite scroll')}}</p>
<select
    name="infinite_scroll"
    hx-trigger="change"
    hx-post="/actions/set_infinite_scroll"
    hx-swap="none"
>
    <option value="1" {{ 'selected=selected' if infinite_scroll else '' }}>{{ _('Yes')}}</option>
    <option value="0" {{ 'selected=selected' if not infinite_scroll else '' }}>{{ _('No')}}</option>
</select>
<br>
<br>
<hr>
<p>{{ _('Maximum media to display per post')}}</p>
<select
    name="max_rendered_items"
    hx-trigger="change"
    hx-post="/actions/set_max_rendered_items"
    hx-swap="none"
>
    <option value="1" {{ 'selected=selected' if max_rendered_items == 1 else '' }}>1</option>
    <option value="2" {{ 'selected=selected' if max_rendered_items == 2 else '' }}>2</option>
    <option value="3" {{ 'selected=selected' if max_rendered_items == 3 else '' }}>3</option>
    <option value="4" {{ 'selected=selected' if max_rendered_items == 4 else '' }}>4</option>
</select>
<br>
<br>
<hr>
<p>{{ _('Number of posts to load at a time')}}</p>
<select
    name="max_items"
    hx-trigger="change"
    hx-post="/actions/set_max_items"
    hx-swap="none"
>
    <option value="5" {{ 'selected=selected' if max_items == 5 else '' }}>5</option>
    <option value="10" {{ 'selected=selected' if max_items == 10 else '' }}>10</option>
    <option value="15" {{ 'selected=selected' if max_items == 15 else '' }}>15</option>
</select>
<br>
<br>
<hr>
{% if connection_info.managed_or_self_hosted %}
<p>{{ _('Logged in as: ') }} {{ username }}</p>
<button
    class="button"
    hx-post="/actions/logout"
    hx-swap="none"
>{{ _('Log out')}}</button>
{% else %}
<p>{{ _('Connected to')}} {{ connection_info.host }}</p>
{% endif %}
{% endblock %}
