# Database
SQLALCHEMY_DATABASE_URI=postgresql://galerie:secret@galerie-postgres/galerie?sslmode=disable

# Miniflux
MINIFLUX_BASE_URL=http://miniflux
ADMIN_USERNAME=
ADMIN_PASSWORD=

# Nitter
NITTER_BASE_URL=http://nitter

# Application
BASE_URL=
MEDIA_PROXY_CUSTOM_URL=http://galerie-reader-media
GALERIE_MEDIA_PROXY_BASE_URL=https://media.galerie-reader.app/p
GALERIE_MEDIA_PROXY_HMAC_KEY=
GALERIE_MEDIA_PROXY_URL_TTL=300
DEBUG=1
