Flask==3.0.0
requests==2.31.0
beautifulsoup4==4.12.3
python-dotenv==1.0.1
pytz==2024.1
sentry-sdk[flask]==1.43.0
miniflux==1.0.1
pytest==8.1.1
responses==0.25.0
flask-babel==4.0.0
requests-oauthlib==2.0.0
