{% extends 'base.html' %}

{% block title %}{{ _('Galerie') }}{% endblock %}

{% block content %}
<div class="header">
    <select id="group-select" class="user-string-horizontal grid-sizer">
        <option value="_all" {{ 'selected=selected' if not selected_group else '' }}>
            {% if all_unread_count != 0 %}
            ({{ all_unread_count|format_count }})
            {% endif %}
            {{ _('all') }}
        </option>
        <optgroup label="{{ _('by groups') }}">
            {% for g in groups %}
            <option value="group-{{ g.gid }}" {{ 'selected=selected' if selected_group and g.gid == selected_group.gid else '' }}>
                {% if all_group_counts[g.gid] != 0 %}
                ({{ all_group_counts[g.gid]|format_count }})
                {% endif %}
                {{ g.title }}
            </option>
            {% endfor %}
        </optgroup>
        <option value="_history">{{ _('🕣 history') }}</option>
        <optgroup label="{{ _('by feed') }}">
            {% for f in feeds %}
            <option value="feed-{{ f.fid }}">
                {{ f.title }}
            </option>
            {% endfor %}
        </optgroup>
    </select>
    <!-- hack to ensure height is consistent... -->
    <p style="visibility: hidden;">.</p>
    <div class="header-right grid-sizer">
        <p id="read-percentage">{{ read_percentage }}%</p>
        <a
            type="button"
            class="link-button"
            onclick="document.getElementById('mark-read-dialog').showModal()"
        ><i class="fa-solid fa-check-double"></i></a>
        <dialog id="mark-read-dialog">
            <p>{{ _('Mark these items as read') }}</p>
            <button
                type="button"
                class="button"
                hx-post="/actions/mark_rendered_as_read"
                hx-include="#grid .entry-id"
                hx-confirm="{{ _('Are you sure you want to mark these items as read?') }}"
                hx-disabled-elt="this"
                hx-swap="none"
                onclick="document.getElementById('mark-read-dialog').close()"
            >{{ _('Displayed items') }}</button>
            <br>
            <br>
            {% if gid %}
            <button
                type="button"
                class="button"
                hx-post="/actions/mark_group_as_read?group={{ gid }}&sort={{ sort }}"
                hx-confirm="{{ _('Are you sure you want to mark this group as read?') }}"
                hx-disabled-elt="this"
                hx-swap="none"
                onclick="document.getElementById('mark-read-dialog').close()"
            >{{ _('All items in group') }}</button>
            <br>
            <br>
            {% else %}
            <button
                type="button"
                class="button"
                hx-post="/actions/mark_all_as_read"
                hx-confirm="{{ _('Are you sure you want to mark all items as read?') }}"
                hx-disabled-elt="this"
                hx-swap="none"
                onclick="document.getElementById('mark-read-dialog').close()"
            >{{ _('All items') }}</button>
            <br>
            <br>
            {% endif %}
            <button class="button" onclick="document.getElementById('mark-read-dialog').close()">
                {{ _('Cancel') }}
            </button>
        </dialog>
        <a
            href="javascript:document.getElementById('settings').showModal()"
            class="link-button"
        ><i class="fa-solid fa-gear"></i></a>
        <dialog id="settings">
            <p>
                <select id="read-select">
                    <option value="0" {{ 'selected=selected' if include_read == '0' else '' }}>{{ _('Unread only') }}</option>
                    <option value="1" {{ 'selected=selected' if include_read == '1' else '' }}>{{ _('Include read') }}</option>
                </select>
            </p>
            <p>
                <select id="sort-select">
                    <option value="0" {{ 'selected=selected' if sort_by_desc else '' }}>{{ _('Latest first') }}</option>
                    <option value="1" {{ 'selected=selected' if not sort_by_desc else '' }}>{{ _('Earliest first') }}</option>
                </select>
            </p>
            <p>
                <select
                    name="no_text_mode"
                    hx-trigger="change"
                    hx-post="/actions/set_no_text_mode"
                    hx-swap="none"
                >
                    <option value="0" {{ 'selected=selected' if not no_text_mode else '' }}>{{ _('Show texts') }}</option>
                    <option value="1" {{ 'selected=selected' if no_text_mode else '' }}>{{ _('Hide texts') }}</option>
                </select>
            </p>
            <p>
                <select
                    name="scroll_as_read"
                    hx-trigger="change"
                    hx-post="/actions/set_scroll_as_read"
                    hx-swap="none"
                >
                    <option value="0" {{ 'selected=selected' if not scroll_as_read else '' }}>{{ _('Manually mark items as read') }}</option>
                    <option value="1" {{ 'selected=selected' if scroll_as_read else '' }}>{{ _('Mark items as read while scrolling') }}</option>
                </select>
            </p>
            <a href="/settings">
                <button class="button" style="font-size: 1em">{{ _('More settings') }}</button>
            </a>
            <br>
            <br>
            <button class="button" autofocus onclick="document.getElementById('settings').close()">
                {{ _('Close') }}
            </button>
        </dialog>
    </div>
</div>
{% if not last_iid %}
<div class="all-read">
    {% if all_feed_count == 0%}
    <a href="/add_feed?go_home=1" style="font-size: 1em;">
        <p class="animate-long">{{ _('start adding some feeds ❤️') }}</p>
    </a>
    {% elif all_unread_count == 0 %}
    <p>{{ _('all read ✨') }}</p>
    <p>{{ _('go touch some grass 🌱') }}</p>
    {% else %}
    {% for g in groups %}
    {% if all_group_counts[g.gid] != 0 %}
    <a href="/?group={{ g.gid }}">
        <button class="button" style="font-size: 1em">
            {{ g.title }} {{ _('has') }} {{ all_group_counts[g.gid]|format_count }} {{ _('unread items') }}
        </button>
    </a>
    <br>
    <br>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>
{% endif %}
<div class="grid" id="grid">
    <div class="grid-sizer"></div>
    {% include 'items_stream.html' %}
</div>
{% if last_iid %}
{% include 'load_more_button.html' %}
{% endif %}
{% if not last_iid and items %}
{% include 'all_loaded_marker.html' %}
{% endif %}
<script src="{{ static_url_for('static', filename='grid.js') }}"></script>
<script src="{{ static_url_for('static', filename='index.js') }}"></script>
{% endblock %}
