{% extends 'base.html' %}

{% block title %}{{ _('Galerie') }}{% endblock %}

{% block content %}
<div class="header">
    <select id="group-select" class="user-string-horizontal grid-sizer">
        <option value="_all" {{ 'selected=selected' if not selected_group else '' }}>
            {% if all_unread_count != 0 %}
            ({{ all_unread_count|format_count }})
            {% endif %}
            {{ _('all') }}
        </option>
        <optgroup label="{{ _('by groups') }}">
            {% for g in groups %}
            <option value="group-{{ g.gid }}" {{ 'selected=selected' if selected_group and g.gid == selected_group.gid else '' }}>
                {% if all_group_counts[g.gid] != 0 %}
                ({{ all_group_counts[g.gid]|format_count }})
                {% endif %}
                {{ g.title }}
            </option>
            {% endfor %}
        </optgroup>
        <optgroup label="{{ _('by feed') }}">
            {% for f in feeds %}
            <option value="feed-{{ f.fid }}">
                {{ f.title }}
            </option>
            {% endfor %}
        </optgroup>
    </select>
    <select id="read-select" class="grid-sizer">
        <option value="0" {{ 'selected=selected' if include_read == '0' else '' }}>{{ _('unread only') }}</option>
        <option value="1" {{ 'selected=selected' if include_read == '1' else '' }}>{{ _('include read') }}</option>
    </select>
    <!-- hack to ensure height is consistent... -->
    <p style="visibility: hidden;">.</p>
    <div class="header-right grid-sizer">
        <a
            id="refresh-button"
            href="javascript:window.location.reload();"
            class="link-button"
        >🔄</a>
        <a
            href="javascript:void(0)"
            hx-confirm="{{ _('Are you sure you want to mark this group as read?') }}"
            hx-post="/actions/mark_as_read?group={{ gid }}&sort={{ sort }}"
            hx-disabled-elt="this"
            class="link-button"
        >✅</a>
        <a
            href="javascript:document.getElementById('settings').showModal()"
            class="link-button"
        >⚙️</a>
        <dialog id="settings">
            <p>
                {{ _('Sort') }} 
                <select id="sort-select">
                    <option value="0" {{ 'selected=selected' if sort_by_desc else '' }}>{{ _('descending') }}</option>
                    <option value="1" {{ 'selected=selected' if not sort_by_desc else '' }}>{{ _('ascending') }}</option>
                </select>
            </p>
            <a href="/settings">
                <button class="button" style="font-size: 1em">{{ _('More settings') }}</button>
            </a>
            <br>
            <br>
            <button class="button" onclick="document.getElementById('settings').close()">
                {{ _('Close') }}
            </button>
        </dialog>
    </div>
</div>
{% if not last_iid %}
<div class="all-read">
    {% if all_feed_count == 0%}
    <a href="/add_feed?go_home=1" style="font-size: 1em;">
        <p class="animate-long">{{ _('start adding some feeds ❤️') }}</p>
    </a>
    {% elif all_unread_count == 0 %}
    <p>{{ _('all read ✨') }}</p>
    <p>{{ _('go touch some grass 🌱') }}</p>
    {% else %}
    {% for g in groups %}
    {% if all_group_counts[g.gid] != 0 %}
    <a href="/?group={{ g.gid }}">
        <button class="button" style="font-size: 1em">
            {{ g.title }} {{ _('has') }} {{ all_group_counts[g.gid]|format_count }} {{ _('unread items') }}
        </button>
    </a>
    <br>
    <br>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>
{% endif %}
<div class="grid" id="grid">
    <div class="grid-sizer"></div>
    {% include 'items_stream.html' %}
</div>
{% if last_iid %}
{% include 'load_more_button.html' %}
{% endif %}
{% if not last_iid and items %}
{% include 'all_loaded_marker.html' %}
{% endif %}
<script src="{{ static_url_for('static', filename='grid.js') }}"></script>
<script src="{{ static_url_for('static', filename='index.js') }}"></script>
{% endblock %}
