<div
    class="button-container"
    id="buttons"
    hx-swap-oob="true"
>
    <button
        class="button"
        hx-get="/actions/load_more?from_iid={{ from_iid }}&group={{ gid }}&sort={{ sort }}&remaining_count={{ remaining_count }}&read={{ include_read }}&total_count={{ total_count }}&segment={{ segment_id }}"
        hx-trigger="{{ 'revealed' if infinite_scroll else 'click' }}"
        hx-target="#grid-{{ segment_id }}"
        hx-swap="beforeend"
        hx-disabled-elt="this"
    >
    {% if remaining_count > 0 %}
        {{ _('Load') }} {{ remaining_count }} {{ _('more') }} <span class="htmx-indicator">...</span>
    {% else %}
        {{ _('Load') }} {{ _('more') }} <span class="htmx-indicator">...</span>
    {% endif %}
    </button>
</div>
