{% extends 'base_child_page.html' %}

{% block title %}{{ item.title if not no_text_mode else '(No text mode is on)' }}{% endblock %}

{% block header_title %}{{ item.title if not no_text_mode else '(No text mode is on)' }}{% endblock %}

{% block page_content %}

<div class="carousel">
    {% for item in items %}
    {% if item.video_url %}
    <video
        class="carousel-cell"
        src="/p/{{ item.iid }}/{{ loop.index0 }}"
        controls
    ></video>
    {% elif item.image_url %}
    <img
        class="carousel-cell"
        src="{{ item.image_url }}"
    />
    {% endif %}
    {% endfor %}
</div>

{% if not no_text_mode %}
<div style="display: flex; align-items: center; gap: 0.5em">
    {% if rt %}
    {% if not rt_feed %}
    <a
        href="/add_feed?url=https://x.com/{{ rt }}&view_feed=1&group={{ item.group.gid }}"
        class="link-button"
    ><i class="fa-solid fa-user-plus"></i></a>
    <a href="https://x.com/{{ rt }}/media" target="_blank" style="font-size: 1em">
        <p class="animate-long item-feed-title">
            @{{ rt }}
        </p>
    </a>
    {% else %}
    <a href="/feed?fid={{ rt_feed.fid }}" style="font-size: 1em">
        <p class="animate-long item-feed-title">
            {% if rt_feed_icon %}
            <img class="item-feed-icon" src="data:{{ rt_feed_icon.data }}">
            {% endif %}
            {{ rt_feed.title }}
        </p>
    </a>
    {% endif %}
    <p>&nbsp;{{ _('via') }}&nbsp;</p>
    {% endif %}

    <a href="/feed?fid={{ item.fid }}" style="font-size: 1em">
        <p class="animate-long item-feed-title">
            {% if feed_icon %}
            <img class="item-feed-icon" src="data:{{ feed_icon.data }}">
            {% endif %}
            {{ item.feed_title }}
        </p>
    </a>
</div>

<p>{{ item.text }}</p>

<p>{{ item.published_at|time_ago }}</p>
{% endif %}

<div class="item-buttons">
    <!-- Open link -->
    <a href="{{ item.url }}" target="_blank" class="link-button">
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
    </a>

    <!-- Copy link -->
    <a id="item-copy-link-button" class="link-button">
        <i class="fa-solid fa-copy"></i>
    </a>

    <!-- Web share -->
    <a id="item-web-share-button" class="link-button" onclick="navigator.share({'url': '{{ item.shareable_url }}'})">
        <i class="fa-solid fa-share-nodes"></i>
    </a>

    <div class="item-buttons-right">
        <!-- Download all -->
        {% if items|length > 1 %}
        <a class="link-button" href="/actions/download_all_media?iid={{ item.iid }}">
            <i class="fa-solid fa-file-zipper"></i>
        </a>
        {% endif %}

        <!-- Download -->
        {% for item in items %}
        <a
            id="media-download-{{ loop.index }}"
            class="link-button"
            href="/actions/download_media?uid={{ item.uid }}"
            {% if loop.index != u_index + 1 %} style="display: none;" {% endif %}
        >
            <i class="fa-solid fa-download"></i>
        </a>
        {% endfor %}
    </div>
</div>

<script>
    window.U_INDEX = "{{ u_index }}";
    window.TOTAL_MEDIA_COUNT = "{{ items|length }}";
    window.SHAREABLE_URL = "{{ item.shareable_url }}";
</script>
<script src="{{ static_url_for('static', filename='item.js') }}"></script>
{% endblock %}
