{% extends 'base_child_page.html' %}

{% block title %}{{ _('Add feed | Galerie') }}{% endblock %}

{% block header_title %}{{ _('Add feed') }}{% endblock %}

{% block page_content %}
<form>
    <p>
        {{ _('Twitter or RSS URL') }} 
        {% if url %}
        <input
            type="text"
            name="url"
            required
            value="{{ url }}"
            readonly
        >
        {% else %}
        <input
            type="text"
            name="url"
            required
        >
        {% endif %}
    </p>
    <div class="button-with-links">
        <button
            class="button"
            hx-post="/actions/preview_feed"
            hx-swap="none"
            hx-disabled-elt="this"
        >
            {{ _('Preview feed') }} <span class="htmx-indicator">...</span>
        </button>
        <a href="javascript:document.getElementById('other-ways-to-add-feed').showModal()">{{ _('Other ways to add feed') }}</a>
        <dialog id="other-ways-to-add-feed">
            <p>{{ _("1. Drag this bookmarklet to your browser's bookmark bar") }}</p>
            <a href="{{ bookmarklet }}">{{ _('Add to Galerie')}}</a>
            <p>
                {{ _('2. Add')}}
                <a href="https://www.icloud.com/shortcuts/9a9a1f09ed214ec18251f9558b1f75e2" target="_blank">{{ _('this')}}</a>
                {{ _('iOS shortcut')}}
            </p>
            <button class="button" onclick="document.getElementById('other-ways-to-add-feed').close()">
                {{ _('Close') }}
            </button>
        </dialog>
    </div>
</form>
{% endblock %}
