{% extends 'base_child_page.html' %}

{% block title %}{{ _('Add feed') }}{% endblock %}

{% block header_title %}{{ feed.title }}{% endblock %}

{% block header_right_content %}
<a class="animate-long" href="/">
    {{ _('Done') }}
</a>
{% endblock %}

{% block page_content %}
<p>
    {{ _('Assign group') }}
    <select
        name="update_feed_group"
        hx-trigger="change"
        hx-post="/actions/update_feed_group?fid={{ feed.fid }}&enable=1"
        hx-swap="none"
        hx-disabled-elt="this"
    >
        {% for group in groups %}
            <option
                value="{{ group.gid }}"
                {{ 'selected=selected' if group.gid == feed.gid else '' }}
            >
                {% if group.gid == preview_group.gid %}
                ({{ _('Unassigned') }})
                {% else %}
                {{ group.title }}
                {% endif %}
            </option>
        {% endfor %}
    </select>
</p>
<p>{{ _('Previewed but unassigned feeds are automatically cleaned up everyday') }}</p>
{% endblock %}
