<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{{ _('A Pinterest/Xiaohongshu photo wall style RSS reader') }}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='elements.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="manifest" href="/manifest.json">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='icon_apple.png') }}">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/imagesloaded@5.0.0/imagesloaded.pkgd.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@1.9.11/dist/htmx.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.8/dist/cdn.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    </head>
    <body>
        <div class="app">
            <div class="header">
                <div class="header-left">
                    <a
                        id="back-button"
                        href="javascript:window.history.back();"
                        class="link-button"
                    >⬅️</a>
                    <p class="user-string-horizontal">{% block header_title %}{% endblock %}</p>
                </div>
                <div class="header-right">
                    {% block header_right_content %}{% endblock %}
                </div>
            </div>
            {% block content %}{% endblock %}
        </div>
        <div id="toast">Default toast message</div>
        <script src="{{ url_for('static', filename='utils.js') }}"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>
