{% extends 'base_child_page.html' %}

{% block title %}{{ _('Clean up previewed feeds') }}{% endblock %}

{% block header_title %}{{ _('Clean up previewed feeds') }}{% endblock %}

{% block page_content %}
{% if previewed_feeds %}
{% for feed in previewed_feeds %}
    <a href="/preview_feed?fid={{ feed.fid }}" target="_blank" style="font-size: 1em;">
        <p class="animate-long">
            {{ feed.title }}
        </p>
    </a>
{% endfor %}
<br>
<button
    class="button"
    hx-post="/actions/clean_up_previewed_feeds"
    hx-swap="none"
    hx-disabled-elt="this"
>
    {{ _('Clean up') }} {{ previewed_feeds|length }} {{ ('previewed feeds') }} <span class="htmx-indicator">...</span>
</button>
<p>{{ _('Previewed feeds are automatically cleaned up everyday') }}</p>
{% else %}
<p>{{ _('There is no previewed feed to clean up') }}</p>
{% endif %}
{% endblock %}
