{% extends 'base_child_page.html' %}

{% block title %}{{ feed.title }}{% endblock %}

{% block header_title %}
<span class="highlight-text">{{ feed.group_title }}</span> {{ feed.title }}
{% endblock %}

{% block header_right_content %}
<a
    href="/update_feed?fid={{ feed.fid }}"
    class="link-button"
>⚙️</a>
{% endblock %}

{% block page_content %}
<div class="grid" id="grid">
    <div class="grid-sizer"></div>
    {% include 'items_stream.html' %}
</div>
<script src="{{ url_for('static', filename='grid.js') }}"></script>
{% endblock %}
