{% extends 'base_with_app_bar.html' %}

{% block title %}{{ _('Manage feeds') }}{% endblock %}
{% block header_title %}{{ _('Manage feeds') }}{% endblock %}
{% block header_right_content %}
<a href="/add_feed" style="text-decoration: none;">
    <img 
        src="{{ url_for('static', filename='add.svg') }}"
        class="svg-button"
    />
</a>
{% endblock %}

{% block content %}
{% for feeds_in_group in feeds_by_groups %}
<p class="feeds">{{ feeds_in_group.group.title }}</p>
{% if not feeds_in_group.feeds %}
<p class="feeds">{{ _('(No feed)') }}</p>
{% endif %}
{% for feed in feeds_in_group.feeds %}
<p class="feeds">
    {% if not loop.last %}├─{% else %}└─{% endif %}
    {% if feed.features.rss_lambda_image_simple_filters %} <span class="tag">{{ _('(filtered)') }}</span> {% endif %}
    {% if feed.features.rss_lambda_image_simple_filters_param %} <span class="tag">{{ feed.features.rss_lambda_image_simple_filters_param | join(', ') }}</span> {% endif %}
    <a href="/feed?fid={{ feed.fid }}" style="text-decoration: none;">{% if feed.features.twitter_handle %} 🐦 @{{feed.features.twitter_handle}} {% else %} {{ feed.features.feed_url }} {% endif %}</a>
</p>
{% endfor %}
<br>
{% endfor %}
{% endblock %}
