{% for image in images %}
<div id="{{ image.uid }}" class="grid-item" x-data="{}">
    <a
        href="{{ image.url }}"
        target="_blank"
        {% if pocket_available or instapaper_available %}
        x-on:long-press.prevent="document.getElementById('share-menu-{{ image.uid }}').showModal()"
        data-long-press-delay="250"
        {% endif %}
    >
        <img
            id="img-{{ image.uid }}"
            class="item-image"
            src="{{ image.image_url }}"
            style="display: none;"
            onload="this.style.display='block'; document.getElementById('img-{{ image.uid }}-loading').style.display = 'none'"
            onerror="this.src='{{ url_for("static", filename="image-error.svg") }}'"
        />
        <img
            id="img-{{ image.uid }}-loading"
            class="item-image"
            src="{{ url_for('static', filename='image-loading.svg') }}"
        />
    </a>
    <a href="/feed?fid={{ image.fid }}" class="title">{% if image.more_images_count > 0 %}({{ image.more_images_count }}+){% endif %} {{ image.title }}</a>
    <a href="/feed?fid={{ image.fid }}" class="feed-title">
        {% if should_show_group %}
        <span class="tag">{{ image.groups[0].title }}</span>
        {% endif %}
        {{ image.feed_title }}
    </a>
</div>
<dialog id="share-menu-{{ image.uid }}" class="share-menu">
    {% if instapaper_available %}
    <p>
        <a
            class="share-menu-text"
            href="javascript:void(0)"
            hx-post="/actions/instapaper?url={{ image.ui_extra['quoted_url'] }}"
            hx-swap="none"
            hx-disabled-elt="this"
            hx-on="htmx:afterRequest: document.getElementById('share-menu-{{ image.uid }}').close()"
        >{{ _('Save to Instapaper') }} <span class="htmx-indicator">...</span></a>
    </p>
    {% endif %}
    {% if pocket_available %}
    <p>
        <a
            class="share-menu-text"
            href="javascript:void(0)"
            hx-post="/actions/pocket?url={{ image.ui_extra['quoted_url'] }}{{ image.ui_extra['encoded_tags'] }}"
            hx-swap="none"
            hx-disabled-elt="this"
            hx-on="htmx:afterRequest: document.getElementById('share-menu-{{ image.uid }}').close()"
        >{{ _('Save to Pocket') }} <span class="htmx-indicator">...</span></a>
    </p>
    {% endif %}
    <p>
        <a
            class="share-menu-text"
            href="javascript:document.getElementById('share-menu-{{ image.uid }}').close()"
        >{{ _('Cancel') }}</a>
    </p>
</dialog>
{% endfor %}
