{% for image in images %}
<div
    class="grid-item"
    id="{{ image.uid }}"
    x-data="{ timer: null }"
    x-on:click.prevent="clearTimeout(timer); timer = setTimeout(() => { window.open('{{ image.url }}', '_blank') }, 250);"
    {% if double_click_action %}
    x-on:dblclick.prevent="clearTimeout(timer); addToPocket('{{ image.ui_extra['quoted_url'] }}', '{{ image.ui_extra['encoded_tags'] }}');"
    {% endif %}
>
    <img
        id="img-{{ image.uid }}"
        class="item-image"
        src="{{ image.image_url }}"
    />
    <img
        id="img-error-{{ image.uid }}"
        class="item-image"
        src="{{ url_for('static', filename='error.png') }}"
        style="display: none"
    />
    <a href="{{ image.url }}" target="_blank" class="title">{{ image.title }}</a>
    <a href="{{ image.url }}" target="_blank" class="feed-title">{{ image.feed_title }}</a>
    <script>
        document.getElementById("img-{{ image.uid }}").onerror = () => {
            document.getElementById("img-{{ image.uid }}").style.display = "none";
            document.getElementById("img-error-{{ image.uid }}").style = "";
        }
    </script>
</div>
{% endfor %}
