{% extends 'base.html' %}

{% block title %}{{ _('Galerie') }}{% endblock %}

{% block content %}
<div class="header">
    <select id="group-select">
        {% if all_unread_count == 0 %}
        <option value="_all" {{ 'selected=selected' if not selected_group else '' }}>{{ _('all groups') }}</option>
        {% else %}
        <option value="_all" {{ 'selected=selected' if not selected_group else '' }}>({{ all_unread_count|format_count }}) {{ _('all groups') }}</option>
        {% endif %}
        {% for g in groups %}
        {% if all_group_counts[g.gid] == 0 %}
        <option value="{{ g.gid }}" {{ 'selected=selected' if selected_group and g.gid == selected_group.gid else '' }}>{{ g.title }}</option>
        {% else %}
        <option value="{{ g.gid }}" {{ 'selected=selected' if selected_group and g.gid == selected_group.gid else '' }}>({{ all_group_counts[g.gid]|format_count }}) {{ g.title }}</option>
        {% endif %}
        {% endfor %}
    </select>
    <select id="read-select">
        <option value="0" {{ 'selected=selected' if include_read == '0' else '' }}>{{ _('unread only') }}</option>
        <option value="1" {{ 'selected=selected' if include_read == '1' else '' }}>{{ _('include read') }}</option>
    </select>
    <p style="visibility: hidden;">.</p>
    <div class="header-right">
        <a
            id="refresh-button"
            href="javascript:window.location.reload();"
            class="link-button"
        >🔄</a>
        <a
            href="javascript:void(0)"
            hx-confirm="{{ _('Are you sure you want to mark this group as read?') }}"
            hx-post="/actions/mark_as_read?group={{ gid }}&sort={{ sort }}"
            hx-disabled-elt="this"
            class="link-button"
        >✅</a>
        <a
            id="sort-button"
            href="javascript:void(0)"
            class="link-button"
        >{{ '⬇️' if sort_by_desc else '⬆️' }}</a>
        <a
            href="/settings"
            class="link-button"
        >⚙️</a>
    </div>
</div>
{% if not last_iid %}
<div class="all-read">
    {% if all_feed_count == 0%}
    <a href="/add_feed?go_home=1" style="font-size: 1em;">
        <p class="animate-long">{{ _('start adding some feeds ❤️') }}</p>
    </a>
    {% elif all_unread_count == 0 %}
    <p>{{ _('all read ✨') }}</p>
    <p>{{ _('go touch some grass 🌱') }}</p>
    {% else %}
    {% for g in groups %}
    {% if all_group_counts[g.gid] != 0 %}
    <a href="/?group={{ g.gid }}">
        <button class="button" style="font-size: 1em">
            {{ g.title }} {{ _('has') }} {{ all_group_counts[g.gid]|format_count }} {{ _('unread items') }}
        </button>
    </a>
    <br>
    <br>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>
{% endif %}
<div class="grid" id="grid">
    <div class="grid-sizer"></div>
    {% include 'items_stream.html' %}
</div>
{% if last_iid %}
{% include 'load_more_button.html' %}
{% endif %}
{% if not last_iid and items %}
{% include 'all_loaded_marker.html' %}
{% endif %}
<script src="{{ url_for('static', filename='grid.js') }}"></script>
<script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}
