{% extends 'base.html' %}

{% block title %}{{ _('Galerie') }}{% endblock %}

{% block content %}
<div class="header" x-data="{}">
    <p>Galerie</p>
    <select id="groupSelect">
        {% if all_unread_count == 0 %}
        <option value="_all" {{ 'selected=selected' if not selected_group else '' }}>{{ _('all groups') }}</option>
        {% else %}
        <option value="_all" {{ 'selected=selected' if not selected_group else '' }}>({{ all_unread_count|format_count }}) {{ _('all groups') }}</option>
        {% endif %}
        {% for g in groups %}
        {% if all_group_unread_counts[g.gid] == 0 %}
        <option value="{{ g.gid }}" {{ 'selected=selected' if selected_group and g.gid == selected_group.gid else '' }}>{{ g.title }}</option>
        {% else %}
        <option value="{{ g.gid }}" {{ 'selected=selected' if selected_group and g.gid == selected_group.gid else '' }}>({{ all_group_unread_counts[g.gid]|format_count }}) {{ g.title }}</option>
        {% endif %}
        {% endfor %}
    </select>
    <select id="sortSelect">
        <option value="desc" {{ 'selected=selected' if sort_by_desc else '' }}>{{ _('newest first') }}</option>
        <option value="asc" {{ 'selected=selected' if not sort_by_desc else '' }}>{{ _('oldest first') }}</option>
    </select>
    <div class="header-right">
        <a
            class="refresh"
            href="javascript:window.location.reload();"
            style="text-decoration: none; display: none;"
        >🔄</a>
        <a
            href="javascript:void(0)"
            style="text-decoration: none;"
            hx-confirm="{{ _('Are you sure you want to mark this group as read?') }}"
            hx-post="/actions/mark_as_read?group={{ gid }}&sort={{ sort }}"
            hx-disabled-elt="this"
        >✅</a>
        <a href="/settings" style="text-decoration: none;">⚙️</a>
    </div>
</div>
{% if not last_iid %}
<div class="all-read">
    {% if all_unread_count == 0 %}
    <p>{{ _('✨ all read ✨') }}</p>
    {% else %}
    {% for g in groups %}
    {% if all_group_unread_counts[g.gid] != 0 %}
    <p>
        <a href="/?group={{ g.gid }}">
            {{ g.title }} {{ _('has') }} {{ all_group_unread_counts[g.gid]|format_count }} {{ _('unread items') }}
        </a>
    </p>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>
{% endif %}
<div class="grid" id="grid">
    <div class="grid-sizer"></div>
    {% include 'items_stream.html' %}
</div>
{% if last_iid %}
{% include 'load_more_button.html' %}
{% endif %}
{% if not last_iid and items %}
{% include 'mark_as_read_button.html' %}
{% endif %}
<script src="{{ url_for('static', filename='grid.js') }}"></script>
<script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}
