{% extends 'base.html' %}

{% block title %}{{ item.title }}{% endblock %}

{% block content %}
<div class="header">
    <p class="user-string-horizontal"><span class="tag">{{ item.feed_title }}</span> {{ item.title }}</p>
    <div class="header-right">
        <a href="javascript:history.back()" style="text-decoration: none;">↩️</a>
    </div>
</div>
{% for item in items %}
<div class="item-image-container">
    {% if item.video_url %}
    <video
        id="media-{{ loop.index }}"
        class="item-image item-image-contained"
        src="{{ item.video_url }}"
        muted
        autoplay
        loop
        {% if not loop.first %} style="display: none;" {% endif %}
        onclick="e => e.preventDefault(); nextMedia({{ items|length }});"
    />
    {% elif item.image_url %}
    <img
        id="media-{{ loop.index }}"
        class="item-image item-image-contained"
        src="{{ item.image_url }}"
        {% if not loop.first %} style="display: none;" {% endif %}
        onclick="e => e.preventDefault(); nextMedia({{ items|length }});"
    />
    {% endif %}
    <div
        id="media-overlay-{{ loop.index }}"
        class="item-image-overlay next-media"
        {% if not loop.first %} style="display: none;" {% endif %}
    >{{ loop.index }}/{{ items|length }}</div>
</div>
{% endfor %}
<script src="{{ url_for('static', filename='item.js') }}"></script>
{% endblock %}
