{% extends 'base.html' %}

{% block title %}{{ item.title }}{% endblock %}

{% block content %}
<div class="header">
    <div class="header-left">
        <a href="javascript:history.back()" style="text-decoration: none;">
            <img 
                src="{{ url_for('static', filename='back.svg') }}"
                role="img"
                class="svg-icon"
            />
        </a>
        <p class="user-string-horizontal">{{ item.title }}</p>
    </div>
</div>
{% for item in items %}
<div class="item-image-container">
    {% if item.video_url %}
    <video
        id="media-{{ loop.index }}"
        class="item-image item-image-contained"
        src="{{ item.video_url }}"
        muted
        autoplay
        loop
        {% if loop.index != u_index + 1 %} style="display: none;" {% endif %}
        onclick="e => e.preventDefault(); nextMedia({{ items|length }});"
    />
    {% elif item.image_url %}
    <img
        id="media-{{ loop.index }}"
        class="item-image item-image-contained"
        src="{{ item.image_url }}"
        {% if loop.index != u_index + 1 %} style="display: none;" {% endif %}
        onclick="e => e.preventDefault(); nextMedia();"
    />
    {% endif %}
    <div
        id="media-overlay-{{ loop.index }}"
        class="item-image-overlay next-media"
        {% if loop.index != u_index + 1 %} style="display: none;" {% endif %}
    >{{ loop.index }}/{{ items|length }}</div> 
</div>
{% endfor %}
<div class="item-share-buttons">
    <!-- Open link -->
    <a href="{{ item.url }}" target="_blank">
        <img 
            src="{{ url_for('static', filename='open-link.svg') }}"
            role="img"
            class="item-share-button"
            class="svg-icon"
        />
    </a>
    {% if is_instapaper_available %}
    <!-- Instapaper -->
    <img 
        src="{{ url_for('static', filename='instapaper.svg') }}"
        role="img"
        class="item-share-button"
        class="svg-icon"
        hx-post="/actions/instapaper?url={{ item.ui_extra['quoted_url'] }}"
        hx-swap="none"
        hx-disabled-elt="this"
    />
    {% endif %}
    {% if is_pocket_available %}
    <!-- Pocket -->
    <img 
        src="{{ url_for('static', filename='pocket.svg') }}"
        role="img"
        class="item-share-button"
        class="svg-icon"
        hx-post="/actions/pocket?url={{ item.ui_extra['quoted_url'] }}{{ item.ui_extra['encoded_tags'] }}"
        hx-swap="none"
        hx-disabled-elt="this"
    />
    {% endif %}
    <!-- Web share -->
    <img 
        id="item-share-web-share-button"
        src="{{ url_for('static', filename='web_share.svg') }}"
        role="img"
        class="item-share-button"
        class="svg-icon"
        onclick="navigator.share({'url': '{{ item.ui_extra["shareable_url"] }}'})"
    />
</div>
<p>{{ item.text }}</p>
<script>
    window.U_INDEX = {{ u_index }};
    window.TOTAL_MEDIA_COUNT = {{ items|length }};
</script>
<script src="{{ url_for('static', filename='item.js') }}"></script>
{% endblock %}
