{% for item in items %}
<div id="{{ item.uid }}" class="grid-item" x-data="{}">
    <a
        href="/item?iid={{ item.iid }}"
        {% if pocket_available or instapaper_available %}
        x-on:long-press.prevent="document.getElementById('share-menu-{{ item.uid }}').showModal()"
        data-long-press-delay="250"
        {% endif %}
    >
        <div class="item-image-container">
            {% if item.image_url %}
            <img
                id="img-{{ item.uid }}"
                class="item-image"
                src="{{ item.image_url }}"
                style="display: none;"
                onload="this.style.display='block'; document.getElementById('img-{{ item.uid }}-loading').style.display = 'none'; grid.layout()"
                onerror="this.src='data:image/svg+xml;base64,{{ image_error_svg_base64 }}'"
            />
            <img
                id="img-{{ item.uid }}-loading"
                class="item-image"
                src="data:image/svg+xml;base64,{{ image_loading_svg_base64 }}"
            />
            {% endif %}
            {% if item.video_url or item.left_rendered_items > 0 %}
            <div class="item-image-overlay">
                {% if item.video_url %}
                🎥
                {% endif %}
                {% if item.left_rendered_items > 0 %}
                {{ item.left_rendered_items }}+
                {% endif %}
            </div>
            {% endif %}
        </div>
    </a>
    <a href="/feed?fid={{ item.fid }}" class="title">{{ item.title }}</a>
    <a href="/feed?fid={{ item.fid }}" class="feed-title">
        {% if should_show_group %}
        <span class="tag">{{ item.groups[0].title }}</span>
        {% endif %}
        {{ item.feed_title }}
    </a>
</div>
<dialog id="share-menu-{{ item.uid }}" class="share-menu">
    {% if instapaper_available %}
    <p>
        <a
            class="share-menu-text"
            href="javascript:void(0)"
            hx-post="/actions/instapaper?url={{ item.ui_extra['quoted_url'] }}"
            hx-swap="none"
            hx-disabled-elt="this"
            hx-on="htmx:afterRequest: document.getElementById('share-menu-{{ item.uid }}').close()"
        >{{ _('Save to Instapaper') }} <span class="htmx-indicator">...</span></a>
    </p>
    {% endif %}
    {% if pocket_available %}
    <p>
        <a
            class="share-menu-text"
            href="javascript:void(0)"
            hx-post="/actions/pocket?url={{ item.ui_extra['quoted_url'] }}{{ item.ui_extra['encoded_tags'] }}"
            hx-swap="none"
            hx-disabled-elt="this"
            hx-on="htmx:afterRequest: document.getElementById('share-menu-{{ item.uid }}').close()"
        >{{ _('Save to Pocket') }} <span class="htmx-indicator">...</span></a>
    </p>
    {% endif %}
    <p>
        <a
            class="share-menu-text"
            href="javascript:document.getElementById('share-menu-{{ item.uid }}').close()"
        >{{ _('Cancel') }}</a>
    </p>
</dialog>
{% endfor %}
