{% for item in items %}
<div id="{{ item.uid }}" class="grid-item" x-data="{}">
    <a href="/item?uid={{ item.uid }}">
        <div class="item-image-container animate-long">
            {% if item.image_url %}
            <img
                id="img-{{ item.uid }}"
                class="item-image"
                src="{{ item.image_url }}"
                style="display: none;"
                onload="this.style.display='block'; document.getElementById('img-{{ item.uid }}-loading').style.display = 'none'; grid.layout()"
                onerror="this.src='data:image/svg+xml;base64,{{ image_error_svg_base64 }}'"
            />
            <img
                id="img-{{ item.uid }}-loading"
                class="item-image"
                src="data:image/svg+xml;base64,{{ image_loading_svg_base64 }}"
            />
            {% endif %}
            {% if item.video_url or item.left_rendered_items > 0 %}
            <div class="item-image-overlay">
                {% if item.video_url %}
                🎥
                {% endif %}
                {% if item.left_rendered_items > 0 %}
                {{ item.left_rendered_items }}+
                {% endif %}
            </div>
            {% endif %}
        </div>
    </a>
    <div class="animate-long">
        <a href="/feed?fid={{ item.fid }}" class="title user-string-horizontal">{{ item.title }}</a>
        <a href="/feed?fid={{ item.fid }}" class="feed-title user-string-horizontal">
            {% if should_show_group %}
            <span class="tag">{{ item.groups[0].title }}</span>
            {% endif %}
            {{ item.feed_title }}
        </a>
    </div>
</div>
{% endfor %}
