{% extends 'base_child_page.html' %}

{% block title %}{{ item.title }}{% endblock %}

{% block header_title %}{{ item.title }}{% endblock %}

{% block page_content %}
{% for item in items %}
<div class="item-image-container animate-long">
    {% if item.video_url %}
    <video
        id="media-{{ loop.index }}"
        class="item-image item-image-contained"
        src="{{ item.video_url }}"
        muted
        autoplay
        loop
        controls
        {% if loop.index != u_index + 1 %} style="display: none;" {% endif %}
        onclick="e => e.preventDefault(); nextMedia({{ items|length }});"
    />
    {% elif item.image_url %}
    <img
        id="media-{{ loop.index }}"
        class="item-image item-image-contained"
        src="{{ item.image_url }}"
        {% if loop.index != u_index + 1 %} style="display: none;" {% endif %}
        onclick="e => e.preventDefault(); nextMedia();"
    />
    {% endif %}
    <div
        id="media-overlay-{{ loop.index }}"
        class="item-image-overlay next-media"
        {% if loop.index != u_index + 1 %} style="display: none;" {% endif %}
    >{{ loop.index }}/{{ items|length }}</div> 
</div>
{% endfor %}

<a href="/feed?fid={{ item.fid }}" style="font-size: 1em">
    <p class="animate-long item-feed-title">
        {% if feed_icon %}
        <img class="item-feed-icon" src="data:{{ feed_icon.data }}">
        {% endif %}
        {{ item.feed_title }}
    </p>
</a>

<p>{{ item.text }}</p>

{% if rt %}
<a href="/add_feed?url=https://x.com/{{ rt }}&view_feed=1" style="font-size: 1em">
    <p class="animate-long item-feed-title">
        ({{ _('retweeted from ') }} @{{ rt }})
    </p>
</a>
{% endif %}

<div class="item-buttons">
    <!-- Open link -->
    <a href="{{ item.url }}" target="_blank">
        <button class="button" style="font-size: 1em">
            {{ _('Open link') }}
        </button>
    </a>

    <!-- Instapaper -->
    {% if is_instapaper_available %}
    <button
        class="button"
        hx-post="/actions/instapaper?url={{ item.quoted_url }}&title={{ item.quoted_title }}&text={{ item.quoted_text }}"
        hx-swap="none"
        hx-disabled-elt="this"
    >
        {{ _('Save to Instapaper') }}
    </button>
    {% endif %}

    <!-- Web share -->
    <button
        id="item-share-web-share-button"
        class="button"
        onclick="navigator.share({'url': '{{ item.shareable_url }}'})"
    >
        {{ _('Share') }}
    </button>
</div>

<script>
    window.U_INDEX = {{ u_index }};
    window.TOTAL_MEDIA_COUNT = {{ items|length }};
</script>
<script src="{{ url_for('static', filename='item.js') }}"></script>

{% endblock %}
