{% extends 'base.html' %}

{% block title %}{{ _('Login | Galerie') }}{% endblock %}

{% block content %}
<div class="stream">
    <p>{{ _('Please login first') }}</p>
    <form>
        <p>{{ _('Endpoint URL') }} <a href="{{ _('https://github.com/sekai-soft/galerie?tab=readme-ov-file#example-fever-endpoints') }}" target="_blank" style="font-size: 0.5em;">{{ _('What is this?') }}</a></p>
        <input
            type="text"
            name="endpoint"
            required
            placeholder="https://miniflux.example.net/fever"
            class="code-font"
        >
        <p>{{ _('Username') }}</p>
        <input
            type="text"
            autocomplete="username"
            name="username"
            required
            class="code-font"
            required
        >
        <p>{{ _('Password') }}</p>
        <input
            type="password"
            name="password"
            required
            class="code-font"
        >
        <div
            class="button"
            style="margin-top: 2em; width: 50%"
            hx-post="/actions/auth"
            hx-swap="none"
            hx-disabled-elt="this"
        >
            {{ _('Login') }} <span class="htmx-indicator">...</span>
        </div>
    </form>
</div>
{% endblock %}
