{% extends 'base.html' %}

{% block title %}{{ _('Login | Galerie') }}{% endblock %}

{% block content %}
<div class="stream">
    <p>{{ _('Please login first') }}</p>
    <form>
        <p>{{ _('Type of RSS Aggregator') }}</p>
        <select name="type">
            <option value="miniflux">Miniflux</option>
            <option value="fever">Fever</option>
        </select>
        <p>{{ _('Fever Endpoint URL') }} <a href="{{ fever_endpoint_help_url }}" target="_blank" style="font-size: 0.5em;">{{ _('What is this?') }}</a></p>
        <input
            type="text"
            name="endpoint"
            required
            placeholder="https://miniflux.example.net/fever"
            class="code-font"
        >
        <p>{{ _('Username') }}</p>
        <input
            type="text"
            autocomplete="username"
            name="username"
            required
            class="code-font"
            required
        >
        <p>{{ _('Password') }}</p>
        <input
            type="password"
            name="password"
            required
            class="code-font"
        >
        <button
            class="button"
            style="margin-top: 1.5em; margin-bottom: 1.5em; width: 50%"
            hx-post="/actions/auth"
            hx-swap="none"
            hx-disabled-elt="this"
        >
            {{ _('Login') }} <span class="htmx-indicator">...</span>
        </button>
    </form>
</div>
{% endblock %}
