{% extends 'base.html' %}

{% block title %}{{ _('Manage feeds') }}{% endblock %}

{% block content %}
<div class="header">
    <div class="header-left">
         <a
            id="back-button"
            href="javascript:window.history.back();"
            class="link-button"
        >⬅️</a>
        <p>{{ _('Manage feeds') }}</p>
        <select id="group-select">
            {% for g in groups %}
            <option value="{{ g.gid }}" {{ 'selected=selected' if g.gid == gid else '' }}>({{ feed_counts[g.gid] }}) {{ g.title }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="header-right">
        <a class="animate-long" href="/add_feed">{{ _('Add feed') }}</a>
    </div>
</div>
{% if feeds|length == 0 %}
<p class="animate-long">{{ _('No feeds in this group') }}</p>
{% else %}
{% for feed in feeds %}
<a style="font-size: 1em" href="/feed?fid={{ feed.fid }}">
    <p class="animate-long user-string-horizontal">
        {% if feed.error %}<span class="highlight-text">⚠️</span>{% endif %}
        {{ feed.title }}
    </p>
</a>
{% endfor %}
{% endif %}
<script src="{{ url_for('static', filename='manage_feeds.js') }}"></script>
{% endblock %}
