{% extends 'base.html' %}

{% block title %}{{ _('Setup using QR code | Galerie') }}{% endblock %}

{% block content %}
<div id="reader" width="600px"></div>
<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
<script>
const setCookie = (name, value, days) =>{
    const expires = "";
    if (days) {
        const date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "")  + expires + "; path=/";
}

const onScanSuccess = (decodedText, decodedResult) => {
    try {
        const decoded = JSON.parse(decodedText)
        if (!decoded.auth) {
            window.alert(`Invalid QR code data = ${decodedText}`);
            return;
        }
        html5QrcodeScanner.clear();

        const auth = decoded.auth;
        setCookie("auth", auth);

        const pocket_auth = decoded.pocket_auth;
        if (pocket_auth) {
            setCookie("pocket_auth", pocket_auth);
        }

        const infinite_scroll = decoded.infinite_scroll;
        if (infinite_scroll) {
            setCookie("infinite_scroll", infinite_scroll);
        }

        const webp_cloud_endpoint = decoded.webp_cloud_endpoint;
        if (webp_cloud_endpoint) {
            setCookie("webp_cloud_endpoint", webp_cloud_endpoint);
        }

        window.location.href = "/";
    } catch {
        window.alert(`Invalid QR code data = ${decodedText}`);
    }
}

const onScanFailure = (error) => {
    console.warn(`Code scan error = ${error}`);
}

const html5QrcodeScanner = new Html5QrcodeScanner(
    "reader",
    { fps: 10, qrbox: { width: 250, height: 250 } },
    /* verbose= */ false
);
html5QrcodeScanner.render(onScanSuccess, onScanFailure);
</script>
{% endblock %}
