{% extends 'base.html' %}

{% block title %}{{ _('Settings | Galerie') }}{% endblock %}

{% block content %}
<div class="stream">
    <div class="header">
        <p>{{ _('Settings') }}</p>
        <a href="/">{{ _('Back to homepage') }}</a>
    </div>
    <p>{{ connection_info.aggregator_type }} {{ _('connection') }}</p>
    <p>{{ connection_info.host }} {{ _('[Server authenticated]') if not connection_info.frontend_or_backend else '' }}</p>
    {% if connection_info.frontend_or_backend %}
    <button
        class="button"
        hx-post="/actions/deauth"
        hx-swap="none"
    >{{ _('Logout')}}</button>
    <br>
    <br>
    <a href="/actions/qrcode.jpg">{{ _('Show setup QR code') }}</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="javascript:document.getElementById('setup-code').showModal()">{{ _('Show setup code') }}</a>
    <dialog id="setup-code">
        <p class="setup-code">{{ setup_code }}</p>
        <button class="button" onclick="document.getElementById('setup-code').close()">
            {{ _('Close') }}
        </button>
    </dialog>      
    {% endif %}
    <br>
    <br>
    <hr>
    <p>{{ _('Pocket connection') }}</p>
    {% if not pocket_auth %}
    <button
        class="button"
        hx-post="/actions/connect_to_pocket"
        hx-swap="none"
    >{{ _('Connect to Pocket')}}</button>
    {% else %}
    <p>{{ _('Logged in as') }} {{ pocket_auth['username'] }}</p>
    <button
        class="button"
        hx-post="/actions/disconnect_from_pocket"
        hx-swap="none"
    >{{ _('Disconnect from Pocket')}}</button>
    {% endif %}
    <br>
    <br>
    <hr>
    <p>{{ _('Infinite scroll')}}</p>
    <select
        name="infinite_scroll"
        hx-trigger="change"
        hx-post="/actions/set_infinite_scroll"
        hx-swap="none"
    >
        <option value="1" {{ 'selected=selected' if infinite_scroll else '' }}>{{ _('Yes')}}</option>
        <option value="0" {{ 'selected=selected' if not infinite_scroll else '' }}>{{ _('No')}}</option>
    </select>
</div>
{% endblock %}
