{% extends 'base.html' %}

{% block title %}{{ _('Sign up | Galerie') }}{% endblock %}

{% block content %}
<p>{{ _('Sign up') }}</p>
<form>
    <p>{{ _('Username') }}</p>
    <input
        type="text"
        autocomplete="username"
        name="username"
        required
        class="code-font"
    >
    <p>{{ _('Password') }}</p>
    <input
        type="password"
        name="password"
        required
        class="code-font"
    >
    <p>{{ _('Repeat password') }}</p>
    <input
        type="password"
        name="repeat_password"
        required
        class="code-font"
    >
    <br>
    <br>
    <button
        class="button"
        hx-post="/actions/signup?next={{ next_url }}"
        hx-swap="none"
        hx-disabled-elt="this"
    >
        {{ _('Sign up') }} <span class="htmx-indicator">...</span>
    </button>    
</form>
{% endblock %}
