{% extends 'base_child_page.html' %}

{% block title %}{{ _('Update feed') }}{% endblock %}

{% block header_title %}{{ _('Update feed') }} "{{ feed.title }}"{% endblock %}

{% block header_right_content %}
<a class="animate-long" href="/">
    {{ _('Done') }}
</a>
{% endblock %}

{% block page_content %}
<p>
    {{ _('Update group') }}
    <select
        name="update_feed_group"
        hx-trigger="change"
        hx-post="/actions/update_feed_group?fid={{ feed.fid }}"
        hx-swap="none"
        hx-disabled-elt="this"
    >
        {% for group in groups %}
            <option
                value="{{ group.gid }}"
                {{ 'selected=selected' if group.gid == feed.gid else '' }}
            >{{ group.title }}</option>
        {% endfor %}
    </select>
</p>
<button
    class="button"
    hx-post="/actions/delete_feed?fid={{ feed.fid }}"
    hx-swap="none"
    hx-disabled-elt="this"
    hx-confirm="{{ _('Are you sure you want to delete this feed?') }}"
>
    {{ _('Delete feed') }} <span class="htmx-indicator">...</span>
</button>
{% endblock %}
