{% extends 'base_child_page.html' %}

{% block title %}{{ _('Update group') }}{% endblock %}

{% block header_title %}{{ _('Update group') }} "{{ group.title }}"{% endblock %}

{% block header_right_content %}
<a class="animate-long" href="/manage_groups">
    {{ _('Done') }}
</a>
{% endblock %}

{% block page_content %}
<form>
    <p>
        {{ _('Rename group') }} 
        <input
            type="text"
            name="name"
            required
            value="{{ group.title }}"
            autocomplete="off"
        >
    </p>
    <button
        class="button"
        hx-post="/actions/rename_group?group={{ group.gid }}"
        hx-swap="none"
        hx-disabled-elt="this"
    >
        {{ _('Confirm') }} <span class="htmx-indicator">...</span>
    </button>
</form>
<br>
<button
    class="button"
    hx-post="/actions/delete_group?group={{ group.gid }}"
    hx-swap="none"
    hx-disabled-elt="this"
    hx-confirm="{{ _('Are you sure you want to delete this group? ALL FEEDS IN THIS GROUP WILL ALSO BE DELETED!!') }}"
>
    {{ _('Delete group') }} <span class="htmx-indicator">...</span>
</button>
{% endblock %}
