{% for iid in iids_without_media %}
<input type="hidden" name="entry_id" class="entry-id" value="{{ iid }}">
{% endfor %}
{% for item in items %}
{% if not (item.unread_or_not or context_feed_page or context_history_page) %}
<div id="{{ item.uid }}" class="grid-item" style="filter: grayscale(100%);">
{% else %}
<div id="{{ item.uid }}" class="grid-item">
{% endif %}
    {% if item.unread_or_not and item.uid.endswith('-0') %}
    <input type="hidden" name="entry_id" class="entry-id" value="{{ item.iid }}">
    {% endif %}
    <a href="/item?uid={{ item.uid }}{% if context_history_page %}&from_history=1{% endif %}" target="_blank">
        <div class="animate-long item-image-container">
            {% if item.video_thumbnail_url or item.image_url %}
            <img
                id="img-{{ item.uid }}"
                class="item-image"
                {% if item.video_thumbnail_url %}
                src="{{ item.video_thumbnail_url }}"
                {% else %}
                src="{{ item.image_url }}"
                {% endif %}
                style="display: none;"
                onload="this.style.display='block'; document.getElementById('img-{{ item.uid }}-loading').style.display = 'none';"
                onerror="this.src='data:image/svg+xml;base64,{{ image_error_svg_base64 }}'"
            />
            <img
                id="img-{{ item.uid }}-loading"
                class="item-image"
                src="data:image/svg+xml;base64,{{ image_loading_svg_base64 }}"
            />
            {% elif item.video_url %}
            <video
                id="img-{{ item.uid }}"
                class="item-image"
                src="{{ item.video_url }}"
                muted
                autoplay
                loop
            />
            {% endif %}
            {% if item.overlay_text != '' %}
            <div class="item-image-overlay">
                {{ item.overlay_text }}
            </div>
            {% endif %}
            {% if not no_text_mode %}
            <a class="grid-item-title user-string-horizontal">{{ item.title }}</a>
            {% if should_show_feed_title %}
            <div class="grid-item-feed-title user-string-horizontal">
                {% if rendered_feed_icons and rendered_feed_icons[item.fid] %}
                <img class="item-feed-icon" src="data:{{ rendered_feed_icons[item.fid].data }}">
                {% endif %}
                {{ item.feed_title }}
                {% if should_show_feed_group %}
                <span class="highlight-text" style="margin-left: 0.5em">{{ item.group.title }}</span>
                {% endif %}
            </div>
            {% endif %}
            {% endif %}
        </div>
    </a>
</div>
{% endfor %}
