{% extends 'base_child_page.html' %}

{% block title %}{{ feed.title }}{% endblock %}

{% block header_title %}
<p>
    {% if feed_icon %}
    <img class="item-feed-icon" src="data:{{ feed_icon.data }}">
    {% endif %}
    {{ feed.title }}
    <span class="highlight-text" style="margin-left: 0.5em">{{ feed.group_title }}</span>
</p>
{% endblock %}

{% block header_right_content %}
<a
    href="{{ feed.site_url }}"
    target="_blank"
    class="link-button"
><i class="fa-solid fa-up-right-from-square"></i></a>
<a
    href="/update_feed?fid={{ feed.fid }}"
    class="link-button"
><i class="fa-solid fa-gear"></i></a>
{% endblock %}

{% block page_content %}
<div class="grid" id="grid">
    <div class="grid-sizer"></div>
    {% include 'items_stream.html' %}
</div>
<script src="{{ static_url_for('static', filename='grid.js') }}"></script>
{% endblock %}
